@import url("https://fonts.googleapis.com/css2?family=Lato&family=PT+Serif:ital@1&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

/* ---------------- Pseudo clase :is ---------------- */

:is(.texto-carrusel, .contacto, .btn, h3, h2, h5, .parrafos-img) {
    text-shadow: 0 0 7px #000000, 0 0 7px #202020;
}
:is(.bg-nosotros){
    background-color: var(--color-primario);
}

/* ---------------- Mixins---------------- */
@mixin centrado-img{
    background-position: center;
    background-size: cover;
}

/* ---------------- Variable :root ---------------- */

:root {
    --color-primario: #060606;
}

/* ---------------- $Variable ---------------- */
$color-secundario: #5d1919;

/* Botones */

.btn {
    background-color: #5d1919;
    padding: 7px 25px 8px 25px;
    border: solid 1px #222222;
    border-radius: 14px;
    font-weight: bold;
}

/* ---------------- BOTON SUBIR ---------------- */

.subir {
    height: 30px;
    width: 30px;
    background-color: #5d1919;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 18px;
    line-height: 30px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    text-decoration: none;
}