@import url("https://fonts.googleapis.com/css2?family=Lato&family=PT+Serif:ital@1&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

/* ---------------- Pseudo clase :is ---------------- */
:is(.texto-carrusel, .contacto, .btn, h3, h2, h5, .parrafos-img) {
    text-shadow: 0 0 7px #000000, 0 0 7px #202020;
}

:is(.bg-nosotros) {
    background-color: var(--color-primario);
}

/* ---------------- Mixins---------------- */
/* ---------------- Variable :root ---------------- */
:root {
    --color-primario: #060606;
}

/* ---------------- $Variable ---------------- */
/* Botones */
.btn {
    background-color: #5d1919;
    padding: 7px 25px 8px 25px;
    border: solid 1px #222222;
    border-radius: 14px;
    font-weight: bold;
}

/* ---------------- BOTON SUBIR ---------------- */
.subir {
    height: 30px;
    width: 30px;
    background-color: #5d1919;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 18px;
    line-height: 30px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    text-decoration: none;
}

.navbar {
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.837);
}

.navbar ul {
    padding-left: 18px;
}

.navbar ul a:hover {
    color: rgb(159, 17, 17) !important;
}

.navbar .navbar-brand {
    font-family: "PT Serif", serif;
    padding-left: 18px;
    font-weight: bold;
    font-size: 22px;
    color: rgb(255, 255, 255) !important;
}

.navbar aside {
    font-family: "PT Serif", serif;
}

.navbar span {
    font-family: "PT Serif", serif;
    font-weight: bold;
    padding-left: 5px;
    color: #5d1919;
    font-size: 24px;
}

.navbar .nav-link {
    color: white !important;
    font-size: 18px;
}

.navbar .navbar-toggler {
    border: none !important;
}

.navbar .navbar-toggler:focus {
    box-shadow: none !important;
}

.carrusel {
    height: 650px;
    -o-object-fit: cover;
    object-fit: cover;
}

.texto-carrusel {
    top: 35%;
}

.featured-services {
    background-color: var(--color-primario);
}

.featured-services .icon-box {
    background-color: #000000;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s;
    border-radius: 8px;
    z-index: 1;
    border-radius: 30px;
}

.featured-services .icon-box .icon {
    color: #5d1919;
    font-size: 40px;
}

.featured-services .icon-box .icon .icon i {
    font-size: 50px;
    line-height: 1;
    color: #5d1919;
    transition: all 0.3s ease-in-out;
}

.featured-services .icon-box .icon .icon i .description {
    font-size: 15px;
    line-height: 28px;
}

.featured-services .icon-box::before {
    content: "";
    position: absolute;
    background-color: #b68181;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.4s;
    z-index: -1;
}

.featured-services .icon-box:hover::before {
    background: #871515;
    top: 0;
    border-radius: 30px;
}

.featured-services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.nosotros .nleft {
    background-position: center;
    background-size: cover;
    background-image: url(../img/programadores1.jpg);
    filter: grayscale(70%);
    height: 480px;
    width: 100%;
}

.nosotros .nright {
    padding: 20px;
    width: 100%;
    background-color: var(--color-primario);
}

@media only screen and (min-width: 576px) {
    .nosotros .nleft {
        width: 50%;
    }

    .nosotros .nright {
        width: 50%;
    }
}

.sitios {
    background-color: var(--color-primario);
}

.gallery {
    background-color: var(--color-primario);
    padding: 5px;
}

.gallery img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
}

.itemimg {
    border: 3px solid rgb(22, 22, 22);
    transition: all 0.8s;
    filter: brightness(70%);
}

.itemimg:hover {
    transform: scale(0.9);
    filter: brightness(130%);
}

.contacto {
    background-image: url(../img/f2.jpg);
    background-position: bottom;
    background-size: cover;
    height: 160px;
}

.contacto .ayuda {
    padding-top: 20px;
}

.contacto .bb {
    padding-top: 5px;
}

@media only screen and (min-width: 576px) {
    .contacto .ayuda {
        padding-left: 50px;
        padding-top: 40px;
    }

    .contacto .bb {
        padding-right: 50px;
        padding-top: 60px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .contacto .ayuda {
        padding-right: 100px;
    }

    .contacto .bb {
        padding-left: 100px;
    }
}

@media only screen and (min-width: 1024px) {
    .contacto .ayuda {
        padding-right: 200px;
    }

    .contacto .bb {
        padding-left: 230px;
    }
}

.span-form {
    font-size: 16px;
}

.bg-form {
    background-image: linear-gradient(rgb(15, 14, 14), rgb(38, 38, 38));
}

.bg-contacto {
    background-color: var(--color-primario);
}

footer {
    background-color: rgb(15, 15, 15);
}

footer a {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

footer a:hover {
    color: rgb(159, 17, 17) !important;
}

footer p {
    font-size: 17px;
}

footer i {
    font-size: 25px;
}

footer h4 {
    font-weight: bold;
    color: rgb(136, 67, 67);
}

.portfolio {
    background-image: linear-gradient(var(--color-primario), rgb(49, 32, 32));
}

.item {
    background-position: center;
    background-size: cover;
    border: 3px solid rgb(22, 22, 22);
    transition: all 0.8s;
    filter: brightness(70%);
}

.item:hover {
    transform: scale(0.9);
    filter: brightness(130%);
}

.bg-servicios {
    background-color: var(--color-primario);
}

@media only screen and (min-width: 576px) {
    .galeria {
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: repeat(4, 200px) !important;
    }
}

@media only screen and (min-width: 1024px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr) !important;
        grid-template-rows: 250px 250px 250px !important;
    }

    .item6 {
        grid-column: 2/4;
        grid-row: 3/4;
    }

    h5 {
        padding-top: 20px;
    }

    .parrafos-img {
        padding-top: 150px !important;
    }
}

.galeria {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    padding: 20px;
    grid-gap: 20px;
}

.galeria a {
    text-decoration: none;
}

.galeria h5 {
    padding-top: 20px;
}

.galeria .parrafos-img {
    padding-top: 100px;
}

.item1 {
    background-image: url(../img/4.jpg);
}

.item2 {
    background-image: url(../img/f2.jpg);
}

.item3 {
    background-image: url(../img/f3.jpg);
}

.item4 {
    background-image: url(../img/f4.jpg);
}

.item5 {
    background-image: url(../img/f10.jpg);
}

.item6 {
    background-image: url(../img/f13.jpg);
}

.item7 {
    background-image: url(../img/f14.jpg);
}

.item8 {
    background-image: url(../img/2.jpg);
}

/*# sourceMappingURL=style.css.map */